
#top { width: 100%; position: absolute; z-index: 999; }

header  .inner { padding: 30px 80px; width: 786px;  margin: auto;  }
header .logo {float: left}
header nav {float: right; }
header nav ul {  position: relative; display: table; width: 100%}
header nav ul li { display: block; float: left; text-align: center; font-size: 15px; padding: 0px 5px; }
header nav ul li a { text-decoration: none; color: #312c26; line-height: 15px; position: relative }
header nav ul li a:hover {  border-bottom: 2px solid #8f2433; -webkit-transition: .2s ease; -o-transition: .2s ease; -moz-transition: .2s ease; -ms-transition: .2s ease; transition: .2s ease;}
header nav ul li a .arrow {position: absolute; width: 0; height: 0; left: 50%; top: 10px; border: 10px solid; 
border-color: transparent transparent #a4a3a0 transparent; margin-left: -10px; }
header nav ul li .info { height: 100px; background-color: #a4a3a0; color: white; font-family: 'helveticaneuecyrthin'; font-size: 10px; position: absolute; top: 30px; right: -10px; padding: 10px; text-align: left }
header nav ul li .info a { text-decoration: none; color: white; border: none}
header nav ul li .info a:hover { text-decoration: underline}
header nav ul li.contact .info .title { font-family: 'helveticaneuecyrbold'; margin: 15px 20px 5px 140px; font-size: 10px} 
header nav ul li.contact .info p {  margin: 5px 20px 10px 140px; line-height: 16px; font-size: 10px}
header nav ul li .info .close { width: 10px; height: 10px; position: absolute; top: 5px; right: 5px; cursor: pointer;background: url(../img/icon_sprite.png) -379px 0 no-repeat; }
header nav ul li.contact .info { width: 320px; }
header nav ul li.contact .info .icon { background: url(../img/icon_sprite.png) 0 0 no-repeat; float: left; margin: 25px 30px; width: 73px; height: 48px; }
header nav ul li.partners .info, header nav ul li.about .info { width: 500px; }
header nav ul li.partners .info ul { display: table; width: 100%}
header nav ul li.partners .info ul li { width: 20%; display: table-cell; text-align: center; font-size: 10px; padding: 0px}
header nav ul li.about .info p { padding: 5px 10px; line-height: 12px; }
header nav ul li.about .info p strong { font-weight: normal; font-family: 'helveticaneuecyrmedium'; }

#wrapper {height: 100%; position: relative; z-index: 1}
#wrapper section { min-height: 400px; height: 100%; left: 120px; position: relative; width: 400px; display: table; margin: auto }
#wrapper article { display: table-cell; vertical-align: middle; position: relative; padding-right: 25px; margin-top: 100px}
#wrapper section#main { min-height: 600px;}
#wrapper section#main article { padding: 0px}
#wrapper article h2 { font-weight: normal; font-size: 20px}
#wrapper article p { font-size: 15px; padding: 10px 0}
#wrapper article .text { display: table-cell; height: 300px; vertical-align: middle;  position: relative; } /* tmp */
#wrapper article .text .img { position: absolute; left: -405px; top: 0px;  } /* tmp */

.main_menu li a { text-decoration: none; font-size: 39px; line-height: 49px; font-family: 'helveticaneuecyrthin'; color: #312c26; }
.main_menu li a:hover { border-bottom: 3px solid #8f2433;  -webkit-transition: .2s ease; -o-transition: .2s ease; -moz-transition: .2s ease; -ms-transition: .2s ease; transition: .2s ease; font-weight: 600}

aside {position: fixed; top: 50%; margin-top: -45px; width: 100%}
aside div{ display: block; width: 946px; margin: auto; position: relative; }
aside div ul { width: 110px; height: 90px; position: absolute; right: 40px; }
aside ul li { line-height: 17px; font-size: 10px;}
aside ul li a { text-decoration: none;  color: #312c26; position: relative; }
aside ul li a:hover::after { content: ''; position: absolute; top: 3px; left: -12px; width: 5px; height: 5px; background: #8d262a; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; font-family: 'helveticaneuecyrroman'; -webkit-transition: .2s ease; -o-transition: .2s ease; -moz-transition: .2s ease; -ms-transition: .2s ease; transition: .2s ease;}
aside ul li a.active {  font-family: 'helveticaneuecyrmedium';}