	<div id="wrapper" >	
		<aside>
			<div>
				<ul class="aside_menu" ng-show="showAside">
					<li><a href="" ng-click="goSection('main')">На главную</a></li>
					<li><a href="" class="science" ng-click="goSection('science')">Наука и образование</a></li>
					<li><a href="" class="medicine" ng-click="goSection('medicine')">Медицина</a></li>
					<li><a href="" class="culture" ng-click="goSection('culture')">Культура и искусство</a></li>
					<li><a href="" class="social" ng-click="goSection('social')">Социальная сфера</a></li>
					<li><a href="" class="other" ng-click="goSection('other')">Другое</a></li>
				</ul>
			</div>
		</aside>	
        <section id="main">
			<article>
				<div class="text">
					<img src="img/heart.png" class="img">
					<ul class="main_menu">
						<li><a href="" ng-click="goSection('science')">Наука и образование</a></li>
						<li><a href="" ng-click="goSection('medicine')">Медицина</a></li>
						<li><a href="" ng-click="goSection('culture')">Культура и искусство</a></li>
						<li><a href="" ng-click="goSection('social')">Социальная сфера</a></li>
						<li><a href="" ng-click="goSection('other')">Другое</a></li>
					</ul>
				</div>	
			</article>
		</section>	
        <section id="science">
			<article>
				<div class="text">
					<img src="img/shirt.png" class="img">
					
					<h2>Наука и образование</h2>

					<p>В числе приоритетов нашей деятельности – создание возможностей для интеллектуального  развития и совершенствования человека. </p>

					<p>Мы планируем развивать инновационные образовательные и учебные программы, помогать в комплектовании учебных заведений, а также поддерживать и создавать новые гранты и конкурсы в сфере образования</p>	
				</div>	
			</article>
		</section>
        <section id="medicine">
			<article>
				<div class="text">
					<img src="img/bird.png" class="img">
					
					<h2>Медицина</h2> 

					<p>Важнейшей задачей в области медицины будут проекты направленные на развитие и модернизацию медицинских учреждений, а также повышение уровня медицинской помощи в Украине. </p>
				</div>
			</article>
		</section>
		<section id="culture">
			<article>
				<div class="text">
					<img src="img/ship.png" class="img">
					
					<h2>Культура и искусство</h2>

					<p>Нашими проектами в области культуры и искусства мы планируем поддерживать одаренных детей, способствовать развитию культурного наследия прошлого  и создавать пространство для развития человека и общества. </p>
				</div>
			</article>
		</section>
		<section id="social">
			<article>
				<div class="text">
						<img src="img/house.png" class="img">
						
						<h2>Социальная сфера</h2>

						<p>Мы планируем активно содействовать решению проблем социального сиротства, организовывать и поддерживать проекты, которые будут оказывать материальную, медицинскую и социально-психологическую помощь детям-сиротам и детям, оставшимся без попечения родителей. Одним словом, будем стараться делать более счастливыми детей, нуждающихся в поддержке. </p>
				</div>
			</article>
		</section>
		<section id="other">
			<article>
				<div class="text">
					<img src="img/bow.png" class="img">
					
					<h2>Другое</h2>

					<p>В наших "умных сердцах" всегда найдется желание сотрудничать по другим, ярким, инновационным проектам, которые могут относиться к различным сферам деятельности. </p>
				</div>
			</article>
		</section>       		
    </div>
	